.formacao {
  background: #2e2e2e;
  color: #e0e0e0;
}

.formacao-container {
  max-width: 950px;
  padding: 100px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/detalhe.svg) no-repeat center;
  position: absolute;
  bottom: -50px;
}

.formacao .subtitulo {
  color: #000000;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  margin-bottom: 40px;
}

.formacao-texto strong {
  color: #fff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.faculdade {
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  justify-content: space-between;
  position: relative;
}

.faculdade::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#82EEFD, #0492c2);
  position: absolute;
  left: -6px;
}

.formacao-extra .cursos {
  margin-bottom: 40px;
}

.cursos h3 {
  margin-bottom: 20px;
  position: relative;
}

.cursos h3::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/cursos.svg) no-repeat center center;
  position: absolute;
  left: -36px;
  top: -2px;
}

.cursos li {
  margin-bottom: 10px;
  line-height: 0.852rem;
  display: flex;
  justify-content: space-between;
}

.cursos span {
  color: #b6b6b6;
}

.idiomas h3 {
  margin-bottom: 20px;
  position: relative;
}

.idiomas h3::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/idiomas.svg) no-repeat;
  position: absolute;
  left: -36px;
  top: -2px;
}

.idiomas li {
  margin-bottom: 10px;
  line-height: 0.852rem;
}

.idiomas span {
  color: #b6b6b6;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .formacao .subtitulo {
    font-size: 5rem;
    max-width: initial;
    color: #7e7e7e;
    text-align: center;
  }

  .formacao-extra {
    max-width: 80vw;
    margin: 0 auto;
  }
}

@media (max-width: 690px) {
  .formacao-extra {
    max-width: 80vw;
  }
}

@media (max-width: 500px) {
  .formacao .subtitulo {
    font-size: 3rem;
  }

  .formacao-texto {
    font-size: 1.2rem;
    text-align: center;
  }

  .formacao-extra {
    max-width: 100vw;
  }

  .cursos h3::before {
    position: initial;
    margin-bottom: 10px;
  }

  .idiomas h3::before {
    position: initial;
    margin-bottom: 10px;
  }

  .faculdade-lista {
    display: grid;
  }
}
